  /* Navbar */
  .navbar {
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 50px;
    padding-right: 50px;
    height: 70px;
  }
  .nav-item {
    padding-left: 50px;
    padding-right: 10px;
  }
  /* End of Navbar */